<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.wms.mapper.GoodsCategoryMapper">



<select id="findAll"
resultType="com.wms.entity.GoodsCategory">

select *

from goods_category

where status=1

order by category_id desc

</select>



<select id="findById"
resultType="com.wms.entity.GoodsCategory">

select *

from goods_category

where category_id=#{id}

</select>



<insert id="add">

insert into goods_category
(
category_name,
description,
status
)

values
(
#{categoryName},
#{description},
1
)

</insert>



<update id="update">

update goods_category

set

category_name=#{categoryName},

description=#{description},

update_time=now()


where category_id=#{categoryId}


</update>



<delete id="delete">

update goods_category

set status=0

where category_id=#{id}


</delete>



</mapper>